@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .reveal {
    animation: navReveal 200ms ease-in-out;
  }
  @keyframes navReveal {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(212, 212, 212);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 999px;
}
